body {
    font-family: ;
    background-image: url('nub background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
p {
    font-family: Courier;
}
h1 {
    color: darkblue
}
h2 {
    color: darkblue
}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}